.content {
    width: calc(1/1.134 * 100%);
    height: auto;
    min-height: 280px;
    max-width: 342px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 40px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    transition: 0.3s ease box-shadow, 0.3s ease transform;
    cursor: pointer;

    &:hover {
      transform: scale(1.0225);
    }

    &.article {
      background-repeat: no-repeat;
      mask:  url(./../../../assets/content/stakeholder.png) no-repeat;
      background-size: 131%;
      background-position: 97% 35%;
      position: relative;

      .overlay {
        width: 80%;
        height: 290px;
        position: absolute;
        bottom: 45px;
        left: 0;
        background: linear-gradient(0deg, #5A98D0 0%, rgba(90, 152, 208, 0) 59.37%);
        z-index: -1;
      }

      .text-wrapper {
        span {
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    &.professor {
      background: url(./../../../assets/content/stakeholder.png) no-repeat;;
      mask:  url(./../../../assets/content/stakeholder.png) no-repeat;
      mask-size: cover;
    }

    &.aluno {
      background:  url(./../../../assets/aluno.png) no-repeat;
      mask:  url(./../../../assets/content/stakeholder.png) no-repeat;
      mask-size: cover;
    }

    &.pai {
      background:  url(./../../../assets/pai.png) no-repeat;
      mask:  url(./../../../assets/content/stakeholder.png) no-repeat;
      mask-size: cover;
    }
    .provider{
        width: 320px;
        height: 280px;
        max-width: 201px;
        max-height: 201px;
        background: #FFFFFF;
        opacity: 0.8;
        border-bottom-right-radius: 200px;
        border-top-left-radius: 100px;
        transform: translate(-52px, -65px);
        mask:  url(./../../../assets/content/stakeholder.png) no-repeat;

        &.fake {
          opacity: 0;
        }

        img {
            height: auto;
            position: relative;
            left: 40px;
            top:55px;
        }
      }

  .text-wrapper {
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: baseline;
    margin-top: -20px;
    margin-bottom: 12px;
    width: 75%;

    .title {
      flex: 1;
      //max-width: 234px;
      display: flex;
      justify-content: space-between;
      span {
        font-family: Amatic SC;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: #FFF;
      }

      .time {
        font-size: 16px;
        margin-left: 10px;
        align-self: flex-end;
        margin-bottom: 2px;
      }
    }


  }


    .saber {
      font-family: Barlow;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      display: flex;
      align-items: center;
      letter-spacing: 0.005em;
      color: #fff;
      cursor: pointer;

      svg {
        width: 1rem;
        margin-left: 0.5rem;
      }

    }

  }
