<div class="header">
  <div class="row">
    <div class="title">
      Área de Pais / EE
      <p>
        Para continuarem a “ir à escola”, mesmo sem saírem de casa, os seus filhos precisarão de dominar alguma tecnologia. Terão mais facilidade em fazê-lo se contarem com o seu apoio e orientação. Nesta secção, descubra o essencial sobre a ferramenta que usarão nas aulas e como ajudá-los a se manterem motivados e a aprender.
      </p>
    </div>
  </div>
</div>

<!-- <section id="criar-conta">
  <div class="row">
    <div class="image">
      <img src="assets/pai/criar-conta.png" alt="Criar conta">
    </div>

    <div class="description">
      <h2 class="description-title">
        Criar conta
      </h2>

      <h4 class="description-subtitle">
        1. Passo xpto que o user deve executar.
      </h4>

      <p class="description-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor cidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
        amet, consectetur adipisc gkvljhbkd.  eiusmod tempor incididunt. Lorem
        ipsumdolo rsit amet, consectetur adipiscing elit, sed do. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporncidid
        unt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,
        consectetur adipisc gkvljhbkd.  eiusmod tempor incididunt.
        Lorem ipsum dolor sit.
      </p>

      <div class="description-actions">
        <button id="previous" class="btn blue">
          <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.7 15L1 8L6.7 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M0.999999 8H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
          Anterior
        </button>

        <button id="next" class="btn blue">
          Próximo
          <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.3 15L20 8L14.3 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M20 8H1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
        </button>
      </div>
    </div>
  </div>  
</section>

<section id="iniciar-aula">
  <div class="row">
    <div class="image">
      <img src="assets/pai/assistir-aula.png" alt="Assistir à aula">
    </div>

    <div class="description">
      <h2 class="description-title">
        Iniciar aula
      </h2>

      <h4 class="description-subtitle">
        1. Passo xpto que o user deve executar.
      </h4>

      <p class="description-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor cidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
        amet, consectetur adipisc gkvljhbkd.  eiusmod tempor incididunt. Lorem
        ipsumdolo rsit amet, consectetur adipiscing elit, sed do. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporncidid
        unt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,
        consectetur adipisc gkvljhbkd.  eiusmod tempor incididunt.
        Lorem ipsum dolor sit.
      </p>

      <div class="description-actions">
        <button id="previous" class="btn blue">
          <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.7 15L1 8L6.7 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M0.999999 8H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
          Anterior
        </button>

        <button id="next" class="btn blue">
          Próximo
          <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.3 15L20 8L14.3 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M20 8H1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
        </button>
      </div>
    </div>
  </div>  
</section> -->
<section>
  <div class="row">
    <app-yt-card [videoIdOut]="'Y15ZpHC4XaA'"></app-yt-card>
    <div class="description">
      <h2 class="description-title">
        Entrar na aula  <p class="time">1.10 Min</p>
      </h2>

      <p class="description-body">
        Neste vídeo aprenda o que o seu educando precisa fazer para estar<br>
        informado das aulas, entrar e participar.
      </p>

    </div>
  </div>
</section>

<section>
  <div class="row">
    <app-yt-card [videoIdOut]="'E0WV4gzjc8s'"></app-yt-card>
    <div class="description">
      <h2 class="description-title">
        Contactar o professor  <p class="time">0.50 Min</p>
      </h2>

      <p class="description-body">
        Saiba como contatar o professor e reunir com ele quando for preciso.
      </p>
    </div>
  </div>
</section>