<div class="header">
    <div class="row">
      <div class="title">
        Blog
        <p>
            Encontre aqui informação, sugestões e partilha de boas-práticas para o ajudar obter os melhores resultados. Iremos manter o nosso Blog sempre actualizado.
        </p>
      </div>
    </div>
  </div>
  <section class="first">
    <div class="thumbnail">
        <img [src]="article.images[0]">
    </div>
    <div class="title">
        <h1>{{ article?.title }}</h1> <p>{{ article?.createdAt | date }}</p>
        
    </div>
    <h2>{{ article?.author }}</h2>
    <div class="row" [innerHTML]="article?.text"></div>

  </section>

