<div class="header">
  <div class="row">
    <div class="title">
      Dúvidas mais frequentes
      <p>
        Encontre aqui resposta às dúvidas mais frequentes.
        Se, ainda assim, necessitar de ajuda, por favor contacte-nos enviando
        um email para <span class="bold">ajuda@tools4edu.com</span>
      </p>
    </div>
  </div>
</div>

<section id="faqs-professor">
  <div class="row">
    <div class="image">
      <p class="title">
        Sou professor
      </p>
    </div>

    <app-faqs-professor></app-faqs-professor>
  </div>  
</section>

<section id="faqs-estudante">
  <div class="row">
    <div fxHide.xs="true" class="image">
      <p class="title">
        Sou aluno
      </p>
    </div>

    <app-faqs-aluno></app-faqs-aluno>
  </div>  
</section>

<section id="faqs-pai">
  <div class="row">
    <div class="image">
      <p class="title">
        Sou pai / EE
      </p>
    </div>

    <app-faqs-pai></app-faqs-pai>
  </div>  
</section>
