<div class="header">
  <div class="row">
    <div class="title">
      Dúvidas mais frequentes
      <p>
        Encontre aqui resposta às dúvidas mais frequentes.
        Se, ainda assim, necessitar de ajuda, por favor contacte-nos enviando
        um email para <strong>ajuda@tools4edu.com</strong>
      </p>
    </div>
  </div>
</div>

<section id="faqs-teacher">
  <div class="row">
    <div class="image">
      <p class="title">
        Sou professor
      </p>
    </div>

    <app-faqs-professor></app-faqs-professor>
  </div>  
</section>

<section id="faqs-student">
  <div class="row">
    <div class="image">
      <p class="title">
        Sou aluno
      </p>
    </div>

    <app-faqs-aluno></app-faqs-aluno>
  </div>  
</section>

<section id="faqs-parent">
  <div class="row">
    <div class="image">
      <p class="title">
        Sou pai / EE
      </p>
    </div>

    <app-faqs-pai></app-faqs-pai>
  </div>  
</section>
