.header {
  min-height: 31.625rem;
  display: flex;
  flex-direction: column;
  background-image: url(./../../../assets/faqs/header-ajuda.jpg);
  background-size: cover;
  margin: 0;

  .row {
    height: 21.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8rem 12rem 2.5rem 12rem;

    .title {
      font-family: Amatic SC;
      font-style: normal;
      font-weight: bold;
      font-size: 4rem;
      line-height: 74px;
      letter-spacing: 0.04em;
      color: #fff;

      p {
        font-family: Barlow;
        font-style: normal;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 130%;
        max-width: 55%;
        color: #fff;
        margin-top: 2.5rem;

        span.bold {
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }
}

section {
  padding: 7.5rem 12rem 0 12rem;

  &:last-of-type {
    padding-bottom: 7.5rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    
    .image {
      flex-basis: 27.5%;
      flex-grow: 0;
      flex-shrink: 1;
      height: 20rem;
      display: flex;
      flex-direction: column;

      .title {
        line-height: 130%;
        display: flex;
        align-items: center;
        font-family: Amatic SC;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5rem;
        color: #fff;
        margin-bottom: 1.5rem;
        margin-left: 1.5rem;
        margin-top: auto;
      }
    }

    app-faqs-professor,
    app-faqs-aluno,
    app-faqs-pai {
      flex-basis: 70%;
      flex-grow: 0;
      flex-shrink: 1;
    }
  }

  @media (max-width: 1720px) {
    padding: 0 12.5rem 7.5rem 12.5rem;
  }

  @media (max-width: 1440px) {
    padding: 0 12rem 7.5rem 12rem;

    .row {
      .image img {
        width: 30rem;
      }
    }
  }
}

#faqs-professor {
  .row .image {
    width: 100%;
    background: url(../../../assets/faqs/professor.png) no-repeat;
    background-size: contain;
  }
  padding-top: 6rem;
}

#faqs-estudante {
  .row .image {
    width: 100%;
    background: url(../../../assets/faqs/aluno.png) no-repeat;
    background-size: contain;
  }
}

#faqs-pai {
  .row .image {
    width: 100%;
    background: url(../../../assets/faqs/pai.png) no-repeat;
    background-size: contain;
  }
}

// WIDER SCREENS
@media (max-width: 1720px) {
  section {
    padding: 0 12.5rem 7.5rem 12.5rem;
  }
}

@media (max-width: 1440px) {
  section {
    padding: 0 12rem 7.5rem 12rem;

    .row {
      .image img {
        width: 30rem;
      }
    }
  }
}

// TABLET
@media (max-width: 860px) {
  .header {
    min-height: unset;

    .row {
      margin-top: 7rem;
      margin-right: 1.5rem;
      margin-bottom: 1rem;
      margin-left: 1.5rem;
      padding: 0;
  
      .title {
        width: 100%;
        font-size: 3rem;
        line-height: 130%;
  
        p {
          max-width: 100%;
          width: 100%;
          font-size: 0.875rem;
          margin-top: 0.5rem;
        }
      }
    }
  }

  section {
    padding: 0 1.5rem 3.75rem 1.5rem;

    &:nth-of-type(1) {
      padding-top: 3.75rem;
    }

    ::ng-deep app-yt-card {
      position: relative;
      width: 100%;
      max-height: 13rem;

      iframe {
        width: 100%;
        max-height: 100%;
      }

      #overlay {
        width: 100%;
        max-height: 100%;
      }

      #overlay {
        position: absolute;
        top: 0;


        img {
          width: 4rem;
          height: 4rem;
        }
      }
    }

    .description {
      display: flex;
      flex-direction: column;

      .description-title {
        align-items: center;
        font-size: 2rem;
        line-height: 100%;
        margin-top: 1rem;
        margin-bottom: 0.5rem;

        p {
          align-self: flex-end;
          font-size: 1.25rem;
          line-height: 100%;
          color: rgb(82, 139, 190);
        }
      }

      .description-body {
        font-size: 0.875rem;
      }
    }
  }
}

@media (max-width: 640px) {
  #faqs-professor,
  #faqs-estudante,
  #faqs-pai {
    .row {
      flex-direction: column;

      .image {
        height: unset;
        background: transparent;
  
        .title {
          color: #FF8811;
          margin-left: 0;
        }
      }
    }
  }
}