<div class="header">
  <div class="row">
    <div class="title">
      Dúvidas mais frequentes
      <p>
        Encontre aqui resposta Às dúvidas mais frequentes.
        Se, ainda assim, necessitar de ajuda, por favor contacte-nos enviando
        um email para <strong>ajuda@tools4edu.com</strong>
      </p>
    </div>
  </div>
</div>

<section id="faqs-teacher">
  <div class="row">
    <div class="image">
      <p class="title">
        Sou professor
      </p>
    </div>

    <app-faqs-professor></app-faqs-professor>
  </div>  
</section>

<section id="faqs-student">
  <div class="row">
    <div class="image">
      <p class="title">
        Sou aluno
      </p>
    </div>

    <app-faqs-aluno></app-faqs-aluno>
  </div>  
</section>

<section id="faqs-parent">
  <div class="row">
    <div class="image">
      <p class="title">
        Sou pai / EE
      </p>
    </div>

    <app-faqs-pai></app-faqs-pai>
  </div>  
</section>

<!-- <section id="faqs-student">
  <div class="row">
    <div class="image">
      <img src="assets/aluno/assistir-aula.png" alt="Assistir à aula">
    </div>

    <div class="description">
      <h2 class="description-title">
        Iniciar aula
      </h2>

      <h4 class="description-subtitle">
        1. Passo xpto que o user deve executar.
      </h4>

      <p class="description-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor cidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
        amet, consectetur adipisc gkvljhbkd.  eiusmod tempor incididunt. Lorem
        ipsumdolo rsit amet, consectetur adipiscing elit, sed do. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporncidid
        unt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,
        consectetur adipisc gkvljhbkd.  eiusmod tempor incididunt.
        Lorem ipsum dolor sit.
      </p>

      <div class="description-actions">
        <button id="previous" class="btn green">
          <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.7 15L1 8L6.7 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M0.999999 8H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
          Anterior
        </button>

        <button id="next" class="btn green">
          Próximo
          <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.3 15L20 8L14.3 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M20 8H1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
        </button>
      </div>
    </div>
  </div>  
</section> -->

<!-- <section id="faqs-pai">
  <div class="row">
    <div class="image">
      <img src="assets/aluno/assistir-aula.png" alt="Assistir à aula">
    </div>

    <div class="description">
      <h2 class="description-title">
        Iniciar aula
      </h2>

      <h4 class="description-subtitle">
        1. Passo xpto que o user deve executar.
      </h4>

      <p class="description-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor cidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
        amet, consectetur adipisc gkvljhbkd.  eiusmod tempor incididunt. Lorem
        ipsumdolo rsit amet, consectetur adipiscing elit, sed do. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporncidid
        unt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,
        consectetur adipisc gkvljhbkd.  eiusmod tempor incididunt.
        Lorem ipsum dolor sit.
      </p>

      <div class="description-actions">
        <button id="previous" class="btn green">
          <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.7 15L1 8L6.7 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M0.999999 8H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
          Anterior
        </button>

        <button id="next" class="btn green">
          Próximo
          <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.3 15L20 8L14.3 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M20 8H1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
        </button>
      </div>
    </div>
  </div>  
</section> -->
