<div class="videocontent">
    <video #mediaPlayerElement width="{{width}}" height="{{height}}"  preload="auto" controls></video>


    <!-- <div id="overlay" (click)="play()"><img *ngIf="!playing" src="assets/playicon.png"></div> -->

    <div class="description">
      <div class="description-title">
        {{ videoIdOut?.title }}
      </div>
      <p class="time">{{ videoIdOut?.time }} Min</p>
    </div>
    <div class="description">
      <div class="description-body">
        {{ videoIdOut?.description }}
      </div>
    </div>




</div>
