<owl-carousel-o [options]="carouselOptions">
  <ng-template carouselSlide>
    <app-card-partners [logo]="'assets/zoom.svg'"></app-card-partners>
  </ng-template>

  <ng-template carouselSlide>
    <app-card-partners [logo]="'assets/brevemente.svg'"></app-card-partners>
  </ng-template>

  <ng-template carouselSlide>
    <app-card-partners [logo]="'assets/brevemente.svg'"></app-card-partners>
  </ng-template>

  <ng-template carouselSlide>
    <app-card-partners [logo]="'assets/brevemente.svg'"></app-card-partners>
  </ng-template>
</owl-carousel-o>
