.header {
  display: flex;
  flex-direction: column;
  min-height: 776px;
  background: linear-gradient(180deg, #FFFFFF 16.72%,
            rgba(240, 246, 251, 0.5) 59.46%,
            rgba(90, 152, 208, 0.9) 86.72%,
            rgba(31, 63, 104, 0.893552) 112.19%),
            url(./../../../assets/home_header.png);
  margin: 0;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 12.5rem;
    margin-right: 6rem;
    margin-left: 6rem;

    .title {
      max-width: 650px;
      font-family: Amatic SC;
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 74px;
      letter-spacing: 0.04em;
      color: #1F3F68;
      margin-top: 47px;

      p {
        font-family: Barlow;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 130%;
        color: #1F3F68;
        margin-top: 2.5rem;
      }
    }
  }

  .header_image {
      margin-bottom: 172px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 6rem;
  margin-right: 6rem;
  transform: translate(10px, -120px);

  > div {
    width: 312px;
    height: 280px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 40px;
    padding: 1.5rem; 
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s ease box-shadow;

    &:hover {
      box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    }
    
    &.professor {
      background:  url(./../../../assets/professor.png) no-repeat;
      background-size: contain;
    }
  
    &.aluno {
      background:  url(./../../../assets/aluno.png) no-repeat;
      background-size: contain;
    }
  
    &.pai {
      background:  url(./../../../assets/pai.png) no-repeat;
      background-size: contain;
    }

    .title {
      font-family: Amatic SC;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 130%;
      display: flex;
      align-items: center;
      color: #FFFFFF;  
      margin-top: auto; 
    }
  
    .saber {
      font-family: Barlow;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      display: flex;
      align-items: center;
      letter-spacing: 0.005em;
      color: #fff;
      cursor: pointer;

      svg {
        width: 1rem;
        margin-left: 0.5rem;
      }
    }
  }
}

.testemunhos {      
  margin-top: 5px;

  .title {
    margin-left: 196px;
    margin-right: 96px;
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
  }
}

.plataformas {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;

  .title {
    margin-left: 196px;
    margin-right: 96px;
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    
    p {
      font-family: Barlow;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 130%;
      color: #1F3F68;
    }
  }
}

.cards{
  margin-left: 192px;
  margin-right: 192px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 7.5rem;

  ::ng-deep app-card-partners .card {
    display: flex;
    width: 190px;
    height: 190px;
  }
}