<div class="header">
    <div class="row">
        <div class="title">
            Tools4edu
            <p>
                É uma plataforma de apoio à Comunidade Educativa (Professores, Alunos e Pais/EE)
                 que pretende facilitar a compreensão e utilização de ferramentas digitais no processo de ensino,
                  no enquadramento do Covid19. Temos como missão ajudar a assegurar as interações
                   e relações entre professores e alunos que contribuem para o seu desenvolvimento e bem-estar.
                </p>
        </div>
        <div><img src="assets/mak.svg"></div>
    </div>
</div>
<div class="buttons">
    <div class="professor">
        <div class="title">Sou Professor</div>
        <div class="saber" [routerLink]="['/professor']"><p>Saber Mais</p> <img src="assets/arrow.svg"></div>
    </div>
    <div class="aluno">
        <div class="title">Sou Aluno</div>
        <div class="saber" [routerLink]="['/aluno']"><p>Saber Mais</p> <img src="assets/arrow.svg"></div>
    </div>
    <div class="pai">
        <div class="title">Sou Pai / EE</div>
        <div class="saber"><p>Saber Mais</p> <img src="assets/arrow.svg"></div>
    </div>

</div>

<div class="testemunhos">
    <div class="title">
        testemunhos
    </div>
    <app-carousel></app-carousel>
</div>