<div class="header">
    <div class="row">
        <div class="title">
            Tools4edu
            <p>
                É uma plataforma de apoio à Comunidade Educativa (Professores, Alunos e Pais/EE)
                 que pretende facilitar a compreensão e utilização de ferramentas digitais no processo de ensino,
                  no enquadramento do Covid19. Temos como missão ajudar a assegurar as interações
                   e relações entre professores e alunos que contribuem para o seu desenvolvimento e bem-estar.
                </p>
        </div>
        <div><img src="assets/mak.svg"></div>
    </div>
</div>
