.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 12rem;
  box-sizing: border-box;
  
  .logo {
    align-self: start;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;

    .home {
      font-family: Amatic SC;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      /* identical to box height, or 100% */

      display: flex;
      align-items: center;
      text-align: center;

      /* Red */
      cursor: pointer;
      color: #E03616;
    }

    .professores{
      font-family: Amatic SC;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      /* identical to box height, or 100% */

      display: flex;
      align-items: center;
      text-align: center;

      /* Orange */
      cursor: pointer;
      color: #FF8811;
    }

    .aluno {
      font-family: Amatic SC;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      /* identical to box height, or 100% */

      display: flex;
      align-items: center;
      text-align: center;

      /* Green */
      cursor: pointer;
      color: #7BC950;
    }

    .pais {
      font-family: Amatic SC;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      /* identical to box height, or 100% */

      display: flex;
      align-items: center;
      text-align: center;

      /* Blue */
      cursor: pointer;
      color: #3772FF;
    }

    .help {
      font-family: Amatic SC;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      /* identical to box height, or 100% */

      display: flex;
      align-items: center;
      text-align: center;

      /* Yellow */
      cursor: pointer;
      color: #EAC116;
    }

    .about {
      font-family: Amatic SC;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      /* identical to box height, or 100% */

      display: flex;
      align-items: center;
      text-align: center;

      /* Pink */
      cursor: pointer;
      color: #D90368;
    }
  }
}