.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 12rem;
  box-sizing: border-box;
  
  .logo {
    align-self: start;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;

    > div {
      position: relative;
      display: flex;
      align-items: center;
      text-align: center;
      font-family: Amatic SC;
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1.5rem;
      cursor: pointer;
      color: var(--color);

      &.active {
        &::after {
          content: '';
          position: absolute;
          top: 125%;
          left: 50%;
          width: 0;
          height: 0.25rem;
          display: block;
          background-color: var(--color);
          border-radius: 1rem;
          transform: translate(-50%, 0);
          animation-name: grow;
          animation-timing-function: ease;
          animation-duration: 0.4s;
          animation-fill-mode: forwards;
          animation-iteration-count: 1;
        }
      }
    }

    .home {
      --color: #E03616;
    }

    .professores{
      --color: #FF8811;
    }

    .aluno {
      --color: #7BC950;
    }

    .pais {
      --color: #3772FF;
    }

    .help {
      --color: #EAC116;
    }

    .about {
      --color: #D90368;
    }
  }
}

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}