<div class="header">
    <div class="row">
      <div class="title">
        Conteúdos
        <p>
            Descubra conteúdos preparados para o ajudar a utilizar ferramentas tecnológicas indicadas pelo ME. Encontre ainda conteúdos sobre metodologias e ferramentas de apoio que ajudarão a melhorar a experiência para todos.
        </p>
      </div>
    </div>
  </div>

  <section class="first">

        <div class="aside">
            <h1>Conteúdos Para</h1>
            <div fxLayout="column" >
            <ng-template ngFor let-item [ngForOf]="stakeholder$ | async">
                <app-select-card [forceSelect]="initialStakeholderIds ? initialStakeholderIds.includes(item.id) : false" (selectedEmitter)="getSelected($event)" [data]="item" [fxFlexOrder]="item.order"></app-select-card>
            </ng-template>
            </div>

            <h1>Plataformas</h1>
            <div fxLayout="column" >
            <ng-template ngFor let-item [ngForOf]="providers$ | async">
                <app-select-card (selectedEmitter)="getSelected($event)" [data]="item" [fxFlexOrder]="item.order"></app-select-card>
            </ng-template>
            </div>
            <h1>Por Temáticas</h1>
            <div fxLayout="column" >
            <ng-template ngFor let-item [ngForOf]="tags$ | async">
                <app-select-card (selectedEmitter)="getSelected($event)" [data]="item" [fxFlexOrder]="item.order"></app-select-card>
            </ng-template>
            </div>
        </div>

      <div class="row">
          <ng-template ngFor let-video [ngForOf]="videos$ | async">
              <app-content-card [data]="video"></app-content-card>
          </ng-template>
      </div>
  </section>

