<div class="header">
  <div class="row">
    <div class="title">
      Para Professores
      <p>
        Descubra passo a passo como usar a ferramenta Zoom para as suas aulas.
        Começamos por esta ferramenta porque foi a indicada como prioritária no inquérito que fizemos aos professores.
        Em breve publicaremos guias para outras plataformas, além de novos conteúdos que o ajudarão a usar a tecnologia
        para criar aulas à distância cada vez mais motivadoras para os alunos e para si.
      </p>
    </div>
  </div>
</div>

<section id="criar-conta" class="first">
  <div class="conteudos" [routerLink]="['/conteudo']" [queryParams]="{filter: 'all'}" routerLinkActive="router-link-active" >
    <p>< Voltar para Conteúdos</p>
  </div>
  <div class="row">
  
    <app-yt-card [videoIdOut]="videos$ | async"></app-yt-card>
  </div>
</section>