<div class="header">
  <div class="row">
    <div class="title">
      Área do Professor
      <p>
        Descubra passo a passo como usar a ferramenta Zoom* para as suas aulas.
        Começamos por esta ferramenta porque foi a indicada como prioritária no inquérito que fizemos aos professores.
         Em breve publicaremos guias para outras plataformas, além de novos conteúdos que o ajudarão a usar a tecnologia para criar aulas à distância cada vez mais motivadoras para os alunos e para si.
      </p>
    </div>
  </div>
</div>

<section id="criar-conta" class="first">
  <div class="row">
    <!-- <div class="image">
      <img src="assets/professor/criar-conta.png" alt="Criar conta">
    </div> -->
  
      <app-yt-card [videoIdOut]="'_xlRkIevTfQ'"></app-yt-card>
    <div class="description">
     
      <h2 class="description-title">
        Criar conta  <p class="time">2 Min</p>
      </h2>
      
      <!-- <h4 class="description-subtitle">
        1. Passo xpto que o user deve executar.
      </h4> -->

      <p class="description-body">
        Neste vídeo, descubra passo a passo como criar a sua conta na<br> plataforma Zoom, de modo a poder utilizá-la para as suas aulas.
      </p>

      <!-- <div class="description-actions">
        <button id="previous" class="btn orange">
          <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.7 15L1 8L6.7 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M0.999999 8H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
          Anterior
        </button>

        <button id="next" class="btn orange">
          Próximo
          <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.3 15L20 8L14.3 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M20 8H1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
        </button>
      </div> -->
    </div>
  </div>  
</section>

<section id="iniciar-aula">
  <div class="row">
    <!-- <div class="image">
      <img src="assets/professor/iniciar-aula.png" alt="Iniciar a aula">
    </div> -->
    <app-yt-card [videoIdOut]="'7jR0fyhtc10'"></app-yt-card>
    <div class="description">
      <h2 class="description-title">
        Preparar aula <p class="time">1.30 Min</p>
      </h2>

      <!-- <h4 class="description-subtitle">
        1. Passo xpto que o user deve executar.
      </h4> -->

      <p class="description-body">
        Aprenda como agendar uma aula e informar os seus alunos para que<br> possam participar.
      </p>

      <!-- <div class="description-actions">
        <button id="previous" class="btn orange">
          <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.7 15L1 8L6.7 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M0.999999 8H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
          Anterior
        </button>

        <button id="next" class="btn orange">
          Próximo
          <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.3 15L20 8L14.3 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M20 8H1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
        </button>
      </div> -->
    </div>
  </div>  
</section>
<section>
  <div class="row">
    <!-- <div class="image">
      <img src="assets/professor/iniciar-aula.png" alt="Iniciar a aula">
    </div> -->
    <app-yt-card [videoIdOut]="'VzKIgF4RPb8'"></app-yt-card>
    <div class="description">
      <h2 class="description-title">
        Realizar a aula <p class="time">1.30 Min</p>
      </h2>

      <!-- <h4 class="description-subtitle">
        1. Passo xpto que o user deve executar.
      </h4> -->

      <p class="description-body">
        Veja como usar a plataforma para dar as suas aulas, tirando partido dos <br> diferentes recursos disponíveis para maior interatividade com os alunos.
      </p>

      <!-- <div class="description-actions">
        <button id="previous" class="btn orange">
          <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.7 15L1 8L6.7 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M0.999999 8H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
          Anterior
        </button>

        <button id="next" class="btn orange">
          Próximo
          <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.3 15L20 8L14.3 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M20 8H1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
        </button>
      </div> -->
    </div>
  </div>  
</section>

<section [hidden]="true">
  <div class="row">
    <app-yt-card [videoIdOut]="'VT9iQ3eRZMg'"></app-yt-card>
    <div class="description" style="display: contents;">
      <h2 class="description-title">
        Reunir com o Encarregado de Educação <p class="time">1.30 Min</p>
      </h2>

      <p class="description-body">
        Saiba como contactar os Pais / EE e reunir individualmente com eles<br> quando for preciso.
      </p>

    </div>
  </div>  
</section>