<div class="header">
  <div class="row">
    <div class="title">
      Área do Aluno
      <p>
        Já sabes que tens de estar em casa por uns tempos, mas a escola continua – só que no teu computador ou tablet. Vais ver que é fácil. Aqui vamos ajudar-te a saber tudo o que precisas para estar em contato com o teu professor, participar das aulas, falar com os teus colegas e assim continuar a aprender.
      </p>
    </div>
  </div>
</div>

<section>
  <div class="row">
    <app-yt-card [videoIdOut]="'a-2cRIrXesk'"></app-yt-card>
    <div class="description" style="display: contents;">
      <h2 class="description-title">
        Participar na aula  <p class="time">1.20 Min</p>
      </h2>

      <p class="description-body">
        Neste vídeo, descobre passo a passo como vais saber das aulas<br>
        marcadas pelo teu professor, como entrar, participar e reencontrar os<br>
          teus professores e colegas.
      </p>
    </div>
  </div>
</section>
