<div class="header">
  <div class="row">
    <div class="title">
      Área do Aluno
      <p>
        Já sabes que tens de estar em casa por uns tempos, mas a escola continua – só que no teu computador ou tablet. Vais ver que é fácil. Aqui vamos ajudar-te a saber tudo o que precisas para estar em contato com o teu professor, participar das aulas, falar com os teus colegas e assim continuar a aprender.
      </p>
    </div>
  </div>
</div>

<section class="first">
  <div class="conteudos" [routerLink]="['/conteudo']" [queryParams]="{filter: 'all'}" routerLinkActive="router-link-active" >
    <p>< Voltar para Conteúdos</p>
  </div>
  <div class="row">

    <app-yt-card [videoIdOut]="videos$ | async"></app-yt-card>
    
  </div>
</section>
