<div class="header">
    <div class="row">
      <div class="title">
        Sobre O Tools4Edu
      </div>
    </div>
  </div>
<div class="presentation">
    <div class="first">
    <h1>A emergência que vivemos está a exigir de todos a adoção de novas formas de trabalho e interação entre as pessoas.</h1>
    <p>No ensino, o desafio é manter a escola a funcionar, mesmo com professores e alunos em casa. Permitindo que os jovens não só continuem a aprender, mas mantenham uma rotina que estruture e dê significado aos seus dias.</p>
         <p>
            Portugal tem professores com vontade de fazer e o sentido de missão de sempre. Tem encarregados de educação e estudantes conscientes da sua responsabilidade neste momento. E dispõe das ferramentas digitais, várias delas gratuitas, para garantir que o processo educativo pode continuar.</p>
            
    <p> Nem todos, no entanto, têm o mesmo à-vontade com a tecnologia. Dominar estas ferramentas, principalmente de um dia para o outro, pode trazer dificuldades tanto aos pais e estudantes – principalmente os mais novos – como aos professores.
    </p>
    <p>
        Daí a missão deste projeto: <strong>ajudar a que todos tiremos o máximo partido da tecnologia para recriar, mesmo à distância, uma experiência de ensino remoto produtiva, gratificante e motivadora para educandos e educadores.</strong>
    </p>
    <p>Concretamente, queremos ajudar professores, pais e alunos a usar as várias ferramentas gratuitas disponíveis.</p>
    </div>
    <div class="second">
    <p>Fizemos um inquérito nacional para identificar as necessidades e decidimos começar com a ferramenta Zoom. Mas continuaremos a desenvolver conteúdos semelhantes para outras aplicações gratuitas.</p>
    <h1>Somos um grupo de profissionais que se reuniu de forma espontânea, no âmbito da plataforma Tech4Covid19.org, para ajudar a comunidade educativa nesta crise.</h1>
    <p> Não temos ligação a qualquer empresa ou plataforma tecnológica. Move-nos apenas a urgência de concretizar uma ideia que, num momento tão desafiador, será uma importante ajuda para professores, pais e estudantes.</p>
    
    <p>
          Somos a <strong>Ana</strong>, o <strong>Bruno</strong>, a <strong>Catarina</strong>, o <strong>Fábio</strong>, o <strong>Fernando</strong>,
           o <strong>Jayme</strong>, o <strong>José</strong>, a <strong>Júlia</strong>, a <strong>Layla</strong>,
            a <strong>Leihla</strong>, a <strong>Maria João</strong>,
           a <strong>Marta</strong>, o <strong>Mirali</strong>, o <strong>Paulo</strong>,
            a <strong>Patrícia</strong>, o <strong>Pedro</strong>, o <strong>Rui</strong>, a <strong>Sofia</strong>, a <strong>Sónia</strong>, o <strong>Sérgio</strong>, a <strong>Stella</strong>,o <strong>Tiago</strong>,
            a <strong>Valesca</strong>, e muitos outros que se mobilizaram para entregar,  <strong>em apenas 1 semana</strong>, este trabalho à comunidade.
        </p>
    </div>
</div>
<div class="wrapper">

        <app-yt-card [videoIdOut]="'Dv5gaU5NaAA'"></app-yt-card>
    
</div>
<div class="card-wrapper">
<div class="card">
    <div class="title">
       <img src="assets/sobre/tech4covid.png">
    </div>
     <div>
     <p>
        Dos grandes obstáculos nascem a força e a vontade de os superar - uma força maior que a soma das partes que desafia a criatividade, a disponibilidade e a solidariedade. Os portugueses, quando chamados a lutar por si e pelos seus, nunca desapontaram e, perante um novo inimigo comum, as soluções urgem e os esforços unem-se. É assim que nasce o movimento #tech4COVID19.</p><p> Não somos mais B2B ou B2C, somos H2H - Human to Human.
     </p>
    </div>
 </div>
</div>