<div class="header">
    <div class="row">
      <div class="title">
        Sobre Nós
      </div>
    </div>
  </div>
<div class="presentation">
    <p>A situação vivenciada em Portugal tem exigido uma aceleração na transformação digital e,
         em particular, na adoção de novas formas de trabalho e de interação entre as pessoas.</p>
         <p>
          No que respeita ao Ensino, importa garantir a continuidade nas dimensões de aprendizagem
           e manter uma rotina no dia a dia dos jovens para conseguirem com sucesso ultrapassar os desafios vividos.
            Sabemos que temos de um lado os Professores com vontade de poder contribuir e cumprir a sua missão que
             se torna ainda mais nobre nestes momentos. Por outro lado, temos os Alunos mais conscientes da sua 
             responsabilidade e com vontade de aproveitar de forma efetiva os seus dias.</p><p> É assim que surge este projeto,
              conscientes da dificuldade de utilização de várias tecnologias gratuitas disponíveis que poderiam assegurar
               o processo de Ensino e as relações e interações entre Professores e Alunos.
    </p>
    <h1>A Educação assume-se como um eixo fundamental nos dias de hoje.</h1>
    <p>Vamos colaborar para que os Professores consigam manter a sua missão,
         adaptando-se aos dias de hoje. Vamos aproveitar o momento para
          consciencializar os alunos de que existem meios diferentes para aprender.</p><p>
          A solução que desenvolvemos, e iremos continuar a desenvolver, pretende ajudar
           à utilização por Professores e Alunos de várias ferramentas gratuitas disponíveis.</p><p>
            Fizemos um inquérito aberto a nível nacional para identificar as necessidades e decidimos
             começar com a ferramenta Zoom. Iremos continuar a trabalhar e a desenvolver conteúdos semelhantes
              para um conjunto alargado de outras ferramentas gratuitas.
    </p>
    <h1>Somos um grupo de profissionais que se reuniu de forma espontânea, voluntária e pro-bono</h1>
    <p>em redor de uma ideia e da vontade de ajudar a Comunidade Educativa.</p><p> Somos 100% independentes de qualquer plataforma
         ou empresa e só nos move a urgência de ajudar quem nos ajuda todos os dias na formação das nossas crianças e jovens.
          Somos a <strong>Ana</strong>, a <strong>Júlia</strong>, a <strong>Layla</strong>, a <strong>Leihla</strong>, a <strong>Maria João</strong>,
           a <strong>Marta</strong>, a <strong>Milena</strong>, a <strong>Mirali</strong>, a <strong>Patrícia</strong>,
            a <strong>Sofia</strong>, a <strong>Sónia</strong>,
           a <strong>Stella</strong>, a <strong>Valesca</strong>, o <strong>Bruno</strong>, o <strong>Fábio</strong>,
            o <strong>Fernando</strong>, o <strong>Jayme</strong>, o <strong>José</strong>, o <strong>Paulo</strong>, o <strong>Pedro</strong>, o <strong>Rui</strong>, o <strong>Tiago</strong>,
            e muitos outros que se mobilizaram e em apenas <strong>1 semana</strong> disponibilizaram este trabalho à comunidade.
        </p>
</div>
<div class="wrapper">
    <div class="video">

    </div>
</div>
<div class="card-wrapper">
<div class="card">
    <div class="title">
       <img src="assets/sobre/tech4covid.png">
    </div>
     <div>
     <p>
        Dos grandes obstáculos nascem a força e a vontade de os superar - uma força maior que a soma das partes que desafia a criatividade, a disponibilidade e a solidariedade. Os portugueses, quando chamados a lutar por si e pelos seus, nunca desapontaram e, perante um novo inimigo comum, as soluções urgem e os esforços unem-se. É assim que nasce o movimento #tech4COVID19.</p><p> Não somos mais B2B ou B2C, somos H2H - Human to Human.
     </p>
    </div>
 </div>
</div>