/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
html, body {
    font-family: 'Amatic SC', cursive;
    margin: 0px;
}

p, span {
    font-family: 'Barlow', sans-serif;
}