<div class="footer">
    <div class="dark">
    <div class="section">
        <div class="share">
            <div class="title">
                SEGUE-NOS AQUI
            </div>
            <div class="links">
                <div class="link">Facebook</div>
                <div class="link">Instagram</div>
                <div class="link">LinkedIn</div>
                <div class="link">TikTok</div>
            </div>
        </div>
        <div class="policy">
            © 2020 Tech4Covid19 · A comunidade tecnológica combate a Covid19.
        </div>
    </div>
    <div class="section">
        <div class="share">
            <div class="title">
                SEGUE-NOS AQUI
            </div>
            <div class="links">
                <div class="link">Política de Privacidade</div>
                <div class="link">Cookies</div>
            </div>
        </div>
        <div class="policy">
            #tools4Edu #tech4COVID19
        </div>
    </div>
    </div>
    <div class="message">

    </div>
</div>
