<div class="footer">
  <div class="dark">
    <div class="section">
      <div class="social-networks">
        <div class="title">
          segue-nos aqui
        </div>
        <div class="links">
          <a href="#" class="link">
            Facebook
          </a>
          <a href="#" class="link">
            Instagram
          </a>
          <a href="#" class="link">
            LinkedIn
          </a>          
          <a href="#" class="link">
            TikTok
          </a>
        </div>
      </div>
      <div class="policy">
        © 2020 Tech4Covid19 · A comunidade tecnológica combate a Covid19.
      </div>
    </div>

    <div class="section">
      <div class="more-info">
        <div class="title">
          mais infos
        </div>
        <div class="links">
          <div class="link">Política de Privacidade</div>
          <div class="link">Cookies</div>
        </div>
      </div>
      <div class="hashtags">
        #tools4Edu #tech4COVID19
      </div>
    </div>
  </div>
  <div class="message">

  </div>
</div>