<div class="footer">
  <div class="dark">
    <div id="social" class="section">
      <div class="social-networks">
        <div class="title">
          segue-nos aqui
        </div>
        <div class="links">
          <a target="_blank" href="https://www.facebook.com/Tools4Edu/" class="link">
            Facebook
          </a>
          <a target="_blank" href="https://www.youtube.com/channel/UCt5YuMST4_FyTqaOxMdrDPw/?sub_confirmation=1" class="link">
            Youtube
          </a>
          <a target="_blank" href="https://www.instagram.com/tools4edu/?hl=pt" class="link">
            Instagram
          </a>
          <a target="_blank" href="#" class="link">
            TikTok
          </a>          
          <a target="_blank" href="https://www.linkedin.com/company/tools4edu/" class="link">
            LinkedIn
          </a>
        </div>
      </div>
      <div class="policy">
        © 2020 Tools4Edu · A comunidade tecnológica combate a Covid19.
      </div>
    </div>

    <div id="more-info" class="section">
      <div class="more-info">
        <div class="title">
          mais infos
        </div>
        <div class="links">
          <div class="link" [routerLink]="['/privacidade']">Política de Privacidade</div>
        </div>
      </div>
      <div class="hashtags">
        #Tools4Edu #tech4COVID19
      </div>
    </div>

    <div class="policy-mobile">
      © 2020 Tech4Covid19 · A comunidade tecnológica combate a Covid19.
    </div>
  </div>
  <div class="message">

  </div>
</div>