.footer {
  display: flex;
  height: 12.5rem;
}

.dark {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(79.27deg, #1F3F68 46.53%, #5A98D0 115.77%);
  border-top-right-radius: 100px;
  padding-left: 12.5rem;

  .section {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4rem;
    height: calc(100% - 5rem);

    .title {
      font-family: Barlow;
      font-style: normal;
      font-weight: bold;
      font-size: 0.875rem;
      line-height: 130%;
      text-transform: uppercase;
      color: #5A98D0;
      margin-bottom: 1rem;
    }
  }
}

.social-networks {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message {
  display: flex;
  width: 25%;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  .link {
    display: flex;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease color;

    &:focus,
    &:active {
      color: #fff;
      text-decoration: none;
    }

    &:hover {
      color: #FF8811;
    }
  }

  :not(:nth-child(1)) {
    margin-left: 20px;
  }
}

.policy,
.hashtags {
  width: 100%;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.625rem;
  text-align: left;
  color: #fff;
  opacity: 0.4;
  margin-top: auto;
}